<head>

	<title>{{ .Title }} | BeerJS Blog</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/js.png">
	<link rel="icon" type="image/png" href="/img/js.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/js.png" sizes="16x16">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>