<div class="header">
  <a href="/">
    <h1><strong>Beer.js MK</strong> <br/> Блог</h1>
    <img class="logo" src="/img/beerjs.svg" />
  </a>

  <ul class="navigation">
    <li><a href="/">Написи</a></li>
    <li><a href="/about">За блогот</a></li>
    <li><a href="http://eepurl.com/dqlXW1">Newsletter</a></li>
    <li><br/></li>
    <li><a href="https://beerjs.mk">beerjs.mk</a></li>
  </ul>

  <ul class="social">
    <li><a href="/index.xml"><img src="/img/rss.svg" /></a></li>
    <li><a href="https://github.com/beerjs/skopje"><img src="/img/github-logo.svg" /></a></li>
    <li><a href="https://twitter.com/BeerjsSk"><img src="/img/twitter-logo.svg" /></a></li>
    <li><a href="https://www.youtube.com/channel/UCScyJr3W0-BFCrPW1kLcGmQ"><img src="/img/youtube.svg" /></a></li>
    <li><a href="https://www.facebook.com/beerjsskopje/"><img src="/img/facebook-logo.svg" /></a></li>
  </ul>
</div>